# Project specific
src/gen/

tempest_dist*

python-package/tempest_graph/
python-package/tempest_db*
python-package/__init__.py
python-package/dist/
python-package/tempest_client.pyc
python-package/tempest_graph.egg-info/
python-package/output_python_setup

ruby-package/lib/gen/
ruby-package/tempest_db-*

# sbt/scala specific
.cache
*.class
*.log
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Intellij specific
.idea*

# Scala-IDE specific
.scala_dependencies
.worksheet

# misc
*.swp

